@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100;1,300;1,400&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: white;
}

.wrapper {
    margin: 0 3px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

header {
    position: relative;
    height: 100vh;
    background-color: #4a2757;
    color: white;
    overflow: hidden;
}


header .bgc {
    position: absolute;
    top: 0;
    left: 20px;
    background-image: url(./img/header/background.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    animation: appear 1s 0.3s linear both;
    overflow: hidden;
}

.headerInfo {
    position: absolute;
    bottom: 30vh;
    height: 25vh;
    width: 100%;
    z-index: 1;
    color: rgb(177, 114, 230);
    animation: bigger 3s 1s both;
}

.headerInfo h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    padding: 1px;
}

header button {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.arrow {
    font-size: 2.5rem;
    color: rgb(177, 114, 230);
    margin: 5px;
    animation: verticalMovement 2s 5s ease 1;
}

.rock {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 30vh;
    width: 100%;
    background-image: url(./img/header/rock.png);
    background-position: center;
    background-size: cover;
    animation: appear 1s 0.3s linear both;
}

.moon {
    position: absolute;
    top: 1vh;
    right: 10vw;
    height: 20vh;
    width: auto;
}

.cloud3 {
    position: absolute;
    top: 3vh;
    left: 32vw;
    height: 10vh;
    width: auto;
}

.witchOnBroom {
    position: absolute;
    top: 10%;
    left: 30%;
    height: 33vh;
    width: auto;
    animation: horizontalMovement 5s alternate both linear;
}

@keyframes horizontalMovement {
    0% {
        transform: translate(-120vw, 0);
    }

    50% {
        transform: translate(100vw, 0);
    }

    51% {
        transform: translate(100vw, 0) scalex(-1);
    }

    100% {
        transform: translate(-120vw, 0) scalex(-1);
    }
}

@keyframes verticalMovement {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -50%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bigger {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.contact>div {
    width: 90%;
    margin: 0 auto;
}

.fa-phone,
.fa-envelope {
    margin-right: 20px;
}

.map {
    box-shadow: 0px 0px 4px 2px #000000;
    margin: 20px auto;
    height: 50vh;
    width: 90%;
}

.map div {
    position: relative;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

h2,
h3 {
    margin-left: 10px;
    font-size: 2rem;
}


div.prices {
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
    padding: 10px;
}

div.prices>* {
    margin: 2px;

}

div.prices>*:nth-child(odd) {
    flex-basis: 80%;
}

div.prices>*:nth-child(4n) {
    background-color: #e7e7e7;
}

div.prices>*:nth-child(4n-1) {
    background-color: #e7e7e7;
}

.btnPrices>button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    font-family: Montserrat;
}

.btnPrices>i {
    font-size: 2rem;
    transition: 0.3s;

}

.btnPrices>.rotateTriangle {
    transform: scaleY(-1);
}

.displayBlock {
    display: none;
}

footer {
    background-color: rgb(31, 31, 31);
    height: 30vh;
    margin-top: 20px;

    font-size: 0.9rem;
    color: #6b6969;
    line-height: 30vh;
    text-align: center;
}

@media (min-width:1024px) {
    header .bgc {
        height: 80%;
        width: 80%;
        top: 0;
        left: 10vw;
        background-position: center;
    }



    .headerInfo {
        bottom: 7vh;
    }

    .headerInfo h1 {
        font-size: 5rem;
    }

    .rock {
        position: absolute;
        left: 50%;
        height: 50vh;
        background-position: top;
    }

    .witchOnBroom {
        animation: horizontalMovement 10s alternate both linear;
        top: 20%
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin: 3vw auto;
        padding-bottom: 5vh;
        font-size: 16px;
        line-height: 150%;
        width: 90%;
    }

    main .about,
    main .contact,
    main .btnPrices {
        padding: 20px;
    }

    main div p {
        padding: 20px;
    }

    .about {
        flex-basis: 45%;
        order: 1;

    }

    .contact {
        flex-basis: 45%;
        order: 1;
    }

    .btnPrices {
        flex-basis: 45%;
        order: 2;
    }

    .pricesContainer .prices p {
        padding: 3px;
    }

    .location {
        flex-basis: 45%;
        order: 2;
    }

    .map {
        margin: 10vh auto;
    }
}