html {
    font-size: 10px;
    font-family: Montserrat, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: rgb(21, 11, 36);
}

/* header */
header {
    flex-basis: 100vh;
    overflow: hidden;
}

.headercontainer {
    position: relative;
    background-color: rgb(21, 11, 36);
    height: 100vh;
    width: 100vw;
}

.moon {
    animation: reveal both 1s 1s;
}

.clouds {
    animation: reveal both 1s 2s;
    z-index: 2;
}

.stars {
    animation: reveal both 1s 3.5s;
    z-index: 0;
}

img.moon {
    position: absolute;
    transform: scale(0.9);
    top: -32vh;
    left: 41vw;
    z-index: 1;
}

img.rock {
    position: absolute;
    animation: reveal both 1s 1.5s;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
}

img.cloud1 {
    position: absolute;
    transform: scale(0.4) scaleX(-1);
    top: -21vh;
    left: 20vw;
}

img.cloud3 {
    position: absolute;
    transform: scale(0.4);
    top: 0vh;
    left: 50vw;
}


img.cloud35 {
    position: absolute;
    transform: scaleY(-1) scale(0.6);
    top: -20vh;
    left: -20vw;
}


img.cloud4 {
    position: absolute;
    transform: scale(0.8) scaleY(-1);
    top: -20vh;
    right: -36vw;
}

img.star {
    position: absolute;
    transform: scale(0.025) rotate(5deg);
    top: -15vh;
    left: 10vw;
}

img.star2 {
    position: absolute;
    transform: scale(0.02) rotate(-10deg);
    top: -10vh;
    left: 17vw;

}

img.star3 {
    position: absolute;
    transform: scale(0.023) rotate(-20deg);
    top: -20vh;
    left: 12vw;

}

img.star4 {
    position: absolute;
    transform: scale(0.026) rotate(-35deg);
    top: -15vh;
    left: 20vw;

}

img.star5 {
    position: absolute;
    transform: scale(0.028) rotate(-120deg);
    top: -10vh;
    left: 0vw;
}

img.star6 {
    position: absolute;
    transform: scale(0.021) rotate(-40deg);
    top: -3vh;
    right: -5vw;

}

img.star7 {
    position: absolute;
    transform: scale(0.03) rotate(-60deg);
    top: -18vh;
    right: 6vw;


}

img.star8 {
    position: absolute;
    transform: scale(0.022) rotate(-40deg);
    top: -25vh;
    right: 3vw;

}

img.star9 {
    position: absolute;
    transform: scale(0.026) rotate(-76deg);
    top: -20vh;
    right: -3vw;
}

img.star10 {
    position: absolute;
    transform: scale(0.026) rotate(-76deg);
    top: -14vh;
    right: 1vw;
}

img.witch {
    position: absolute;
    transform: scale(0.3) translate(-140vw, -10vw);
    animation: movement both 10s 3s linear;
    z-index: 4;
}

p.quote1 {
    position: absolute;
    top: 2vw;
    left: 47vw;
    width: 25vw;
    font-style: italic;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    line-height: 5rem;
    font-size: 3.5rem;
    z-index: 3;
    opacity: 0;
    animation: reveal 5s 3s alternate 2;
}

h1.companyName {
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
    font-size: 5rem;
    color: rgb(177, 114, 230);

    font-family: Montserrat;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: reveal 1s 4.5s both;
}

h2.companyDesc {
    position: absolute;
    top: 78%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
    font-size: 3rem;
    color: rgb(177, 114, 230);

    font-style: italic;
    font-family: Montserrat;
    font-weight: 100;

    animation: reveal 1s 4.5s both;
}

.arrow {
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 4;

    font-size: 40px;
    color: rgb(177, 114, 230);
    cursor: pointer;
    transition: 0.3s;
    animation: ding 1s 5s linear both;
    border-radius: 50%;
}

.arrow:hover {
    background-color: rgb(78, 14, 54);
}

@keyframes ding {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes movement {
    0% {
        transform: scale(0.3) translate(-140vw, -10vw);
    }

    10% {
        transform: scale(0.3) translate(-80vw, -30vw);
    }

    17.5% {
        transform: scale(0.3) translate(-40vw, 0vw);
    }

    35% {
        transform: scale(0.3)translate(100vw, -40vw);
    }

    49% {
        transform: scale(0.3) translate(260vw, -20vw);
    }

    50% {
        transform: scale(0.3) translate(260vw, -20vw)scaleX(-1);
    }

    65% {
        transform: scale(0.3)translate(100vw, -40vw) scaleX(-1);
    }

    82.5% {
        transform: scale(0.3) translate(-40vw, 0vw) scaleX(-1);
    }

    90% {
        transform: scale(0.3) translate(-80vw, -30vw)scaleX(-1);
    }

    100% {
        transform: scale(0.3) translate(-150vw, -10vw)scaleX(-1);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* header end */

/* main  */

main {
    display: flex;
    background-color: white;
    margin: 2px 0;
    font-size: 1.5rem;
}

.main1 {
    background-color: #ddd;
    flex-basis: 40%;
    flex-grow: 1;
    padding: 50px
}

main * p {
    padding: 10px;
}

main * h4 {
    padding: 25px;
    font-size: 2.5rem;
}

.main2 {
    background-color: #ccc;
    flex-basis: 40%;
    padding: 50px
}

.contactInfo {
    padding: 5px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.contactInfo i {
    padding: 2px;
}

div.placeholder {
    width: 90%;
    height: 300px;
    background-color: rgb(107, 158, 177);
    margin: 20px auto;
    box-shadow: 2px 2px 6px 1px #000000;
}

/* footer  */
footer {
    flex-basis: 30vh;
    background-color: #000;

}